<div class="masthead">
     <router-outlet></router-outlet>
  <h1 class="masthead-title">
    <a href="/">Bootstrap Expo</a>
  </h1>
  <p class="masthead-lead">
    Beautiful and inspiring uses of <a href="http://getbootstrap.com">Bootstrap</a>, curated by <a href="https://twitter.com/mdo">@mdo</a> and  <a href="https://twitter.com/nicolebartelt">@nicolebartelt</a>.
  </p>

  <hr class="masthead-hr">

  <ul class="masthead-nav">
    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>

    
    
      
        
          <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>
        
  
        
          <li class="nav-item">
            <a class="nav-link" href="/resources/">Resources</a>
          </li>
        
      

  </ul>

  <hr class="masthead-hr">

  <ul class="masthead-nav">
    <li class="nav-item">
      <a class="nav-link" href="/about#suggestions">Suggest a site</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/feed.xml" target="_blank">RSS feed</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://twitter.com/getbootstrap" target="_blank">Twitter</a>
    </li>
  </ul>

  <hr class="masthead-hr">

  <div id="carbonads-container"><div class="carbonad"><div id="azcarbon"></div><script>var z = document.createElement("script"); z.type = "text/javascript"; z.async = true; z.src = "http://engine.carbonads.com/z/32292/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>


  <hr class="masthead-hr visible-xs">
</div>


    <div class="listing">

      <div class="entry">
        <a class="entry-thumb" href="https://www.lyft.com/" title="Visit Lyft">
          <img src="/screenshots/lyft.jpg">

          <span class="icon icon-forward entry-icon"></span>
        </a>
        <div class="entry-content">
          <h2 class="entry-title">
            <a href="/2014/10/29/lyft/">Lyft</a>
          </h2>
          <p class="entry-date">October 29 2014</p>
        </div>

        <div class="related">
          <h3 class="related-title">More from the Expo</h3>
          <div class="row">
            
              <div class="col-sm-4">
                <div class="entry">
                  <a class="entry-thumb" href="/2015/10/07/creative-tim-presentation/" title="Visit Creative Tim">
                    <img src="/screenshots/creative-tim-presentation.jpg">

                  </a>
                  <div class="entry-content">
                    <h4 class="entry-title">
                      <a href="/2015/10/07/creative-tim-presentation/">Creative Tim</a>
                    </h4>
                    <p class="entry-date">October 7, 2015</p>
                  </div>
                </div>
              </div>
            
              <div class="col-sm-4">
                <div class="entry">
                  <a class="entry-thumb" href="/2015/09/30/crit-research/" title="Visit CRIT Research">
                    <img src="/screenshots/crit-research.jpg">

                  </a>
                  <div class="entry-content">
                    <h4 class="entry-title">
                      <a href="/2015/09/30/crit-research/">CRIT Research</a>
                    </h4>
                    <p class="entry-date">September 30, 2015</p>
                  </div>
                </div>
              </div>
            
              <div class="col-sm-4">
                <div class="entry">
                  <a class="entry-thumb" href="/2015/09/16/blackbox/" title="Visit Blackbox">
                    <img src="/screenshots/blackbox.jpg">

                  </a>
                  <div class="entry-content">
                    <h4 class="entry-title">
                      <a href="/2015/09/16/blackbox/">Blackbox</a>
                    </h4>
                    <p class="entry-date">September 16, 2015</p>
                  </div>
                </div>
              </div>
            
          </div>
        </div>

      </div>
    </div>